#outer
{
 min-height:735px;
 width:1000px;
 backgound-color:#ccccff;
 margin:0px auto;
 height:auto;
}
#header
{
 height:100px;
 width:1000px;
 background-color:#663300;
}
#logo
{
height:100px;
width:100px;
background-color:cyan;
float:left;
}
#banner
{
 height:100px;
 width:899px;
 float:left;
 background-color:#663300;
 text-align:center;
 font-size:40px;
 line-height:100px;
 color:white;
}
#menu
{
 height:50px;
 width:1000px;
 border:1px solid #660033;
 background-color:#660033;
 margin-top:5px;
}
#menu ul
{
 list-style-type:none;
}
#menu ul li
{
 display:inline;
 padding:15px;
}
#menu ul li a
{
 text-decoration:none;
 color:white;
}
#menu ul li:hover
{
 background-color:#cc0066;
}
#slider
{
 height:250px;
 width:1000px;
 background-color:#993333;
 margin-top:5px;
}
#box
{
 min-height:500px;
 width:1000px;
 margin-top:5px;
 background-color:white;
 height:auto;
}
#left
{
 height:500px;
 width:400px;
 background-color:gray;
 border:1px solid gray;
 float:left;
}
#main
{
 height:500px;
 width:595px;
 background-color:lightgray;
 border:1px solid lightgray;
 float:left;
}
#footer
{
 height:50px;
 width:1000px;
 margin-top:5px;
}
#footer_left
{
 height:50px;
 width:500px;
 background-color:#cc6699;
 border:1px solid #cc6699;
 float:left;
}
#footer_right
{
 height:50px;
 width:495px;
 background-color:#993333;
 border:1px solid #993333;
 float:left;
}