# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\fproject\py1\speedex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
